assets/scenes
build
.vs
.vscode
.idea
imgui.ini
doxygen/
tests/system_test/artifacts
tests/system_test/tmp
output/*
.mypy_cache
tags

# vim backup and temp files
*~
.*.sw*
.sw*
.tracy
.cache

# macOS
.DS_Store
